:root {
  font-family: "Arimo", sans-serif;
}

::-webkit-scrollbar {
  display: none;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

button {
  background-color: transparent;
  border: none;
  cursor: pointer;
}

#main {
  width: 100vw;
  height: 100vh;
  background-color: thistle;
  display: flex;
  justify-content: center;
  align-items: center;
}

#main div {
  width: 700px;
  height: 400px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: antiquewhite;
  border-radius: 10px;
}

#main span {
  font-size: 32px;
  font-weight: 600;
  padding: 20px 0;
}

#main img {
  width: 200px;
  height: 200px;
  margin-bottom: 20px;
}

#main button {
  width: 70px;
  height: 70px;
  font-size: 36px;
  text-align: center;
  line-height: 70px;
  background-color: cadetblue;
  border-radius: 10px;
}

#game-page,
#show-page {
  width: 100vw;
  height: 100vh;
  background-color: lightblue;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#show-page {
  background-color: teal;
}

.round {
  position: relative;
}

.game,
.show {
  width: 700px;
  height: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: palegreen;
  border-radius: 10px;
}

.game__header {
  background-color: lightsalmon;
  width: 100%;
  height: 40px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.game__button {
  width: 30px;
  height: 30px;
  text-align: center;
  line-height: 30px;
  background-color: cadetblue;
  border-radius: 10px;
}

.game__timer {
  font-size: 18px;
  background-color: lightslategray;
  border-radius: 10px;
  padding: 5px;
}

.game__field {
  width: 100%;
  height: 300px;
  background-color: lightyellow;
}

.game__answer {
  width: 100%;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: peru;
}

.game__answer div {
  width: 50px;
  height: 50px;
  margin: 5px;
  background-color: powderblue;
  border-radius: 7px;
}

.pop-up {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 600px;
  height: 300px;
  background-color: slateblue;
}

.pop-up__message {
  font-size: 32px;
  text-align: center;
  margin: 10px 0;
}

.pop-up__btn {
  width: 70px;
  height: 70px;
  margin: 10px 0;
  font-size: 32px;
  background-color: steelblue;
  border-radius: 10px;
}

.show__message {
  font-size: 32px;
  font-weight: 600;
  padding: 20px 0;
}

.show__field {
  background-color: cornflowerblue;
  border: 2px solid black;
  border-radius: 10px;
}

.show__field img {
  width: 100px;
  height: 100px;
  margin: 10px;
}
